In [46]:
import pandas as pd
import datetime

In [6]:
coords = pd.read_csv('../data/cities.csv')
sim = pd.read_csv('../data/dummy_sim_res.csv', index_col=[0])

In [3]:
coords.head()

         lat        lng      name  osm_accuracy  population
0  52.651055  90.101159     Абаза      0.593508       17111
1  53.720902  91.442435    Абакан      0.609791      165183
2  53.682800  53.655701  Абдулино      0.587183       20663
3  44.864953  38.157819    Абинск      0.597864       34926
4  56.525460  52.997251     Агрыз      0.596615       19299

In [7]:
sim.head()

   n_iter  city_id             name  suspected  infected  recovered
0       0        0          Коряжма    39628.0       1.0        0.0
1       0        1  Северобайкальск    23672.0       1.0        0.0
2       0        2         Кувандык    26175.0       1.0        0.0
3       0        3             Мама    14431.0       1.0        0.0
4       0        4     Новоабзаково     1330.0       1.0        0.0

In [119]:
final = pd.merge(sim, coords, on='name')

In [120]:
dates = pd.DataFrame()

In [121]:
dates['ts'] = pd.date_range(start='2020/04/01', periods=10*24, freq='H')

In [122]:
dates['n_iter'] = (dates.index-11)/24

In [123]:
dates['n_iter'] = dates['n_iter'].round(0).astype(int)

In [124]:
final = pd.merge(final, dates, on='n_iter')

In [125]:
final.head()

,n_iter,city_id,name,suspected,infected,recovered,lat,lng,osm_accuracy,population,ts
0,0,0,Коряжма,39628.0,1.0,0.0,61.315166,47.160763,0.593556,39629,2020-04-01 00:00:00
1,0,0,Коряжма,39628.0,1.0,0.0,61.315166,47.160763,0.593556,39629,2020-04-01 01:00:00
2,0,0,Коряжма,39628.0,1.0,0.0,61.315166,47.160763,0.593556,39629,2020-04-01 02:00:00
3,0,0,Коряжма,39628.0,1.0,0.0,61.315166,47.160763,0.593556,39629,2020-04-01 03:00:00
4,0,0,Коряжма,39628.0,1.0,0.0,61.315166,47.160763,0.593556,39629,2020-04-01 04:00:00

In [126]:
final.to_csv('../data/simulation.csv', index=False) # , date_format='%Y/%m/%d %H:%M:%s'